:root{
    --gradient: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(126,30,34,0.6083683473389356) 100%, rgba(0,212,255,1) 100%); 
    --url-img: url("img/background.png");
    --color: whitesmoke;
}

*{
    padding: 0px;
    box-sizing: border-box;
    margin: 0px auto;
}

body{
    width: 100%;
    min-height: 100vh;
    background-image: var(--gradient), var(--url-img);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container{
    width: 500px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    color: var(--color);
}

.containerActions{
    align-items: center;
}

.containerActions input{
    background-color: transparent;
    border-radius: 5px;
    color: var(--color);
    width: 160px;
    height: 35px;
    font-size: 1rem;
    font-family: Tahoma;
}

.containerActions button{
    width: 60px;
    height: 35px;
    background-color: black;
    color: var(--color);
    border-radius: 5px;
}

.containerInfo{
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 1.2rem;
    font-family: tahoma;  
    text-align: center;
    border-radius: 5px;
}

.containerInfo img{
    width: 150px;
    height: 150px;
    border-radius: 100%;
}
#name{
    font-weight: bold;
}
